<!DOCTYPE html>

<html>
    {{> header}}
    <body>
        <h1>{{pageTitle}}</h1>
        <p>For more information, you can send the email to <a href="info@cba.com"><info@cba class="com"></info@cba></a></p>

       {{> footer}}
    </body>
</html>